/app
/routes
/resources/lang
/resources/views/vendor
/resources/views/errors
/node_modules
/public/index.php
/public/robots.txt
/public/web.config
/public/.htaccess
/public/favicon.ico
/public/storage
/public/assets
/public/uploads
/bootstrap
/config
/database
/storage
/packages
/tests
/vendor
/.idea
composer.json
composer.lock
.gitattributes
.env.example
artisan
phpunit.xml
server.php
Homestead.json
Homestead.yaml
.env
